.tile {
  width: 279px;
  background-color: rgba(157, 167, 176, 0.864);
  height: 255px;
  margin: 9px;
  overflow: hidden;
}
#carouselExampleSlidesOnly{ 
  padding: 10px; 
  overflow: hidden;
  cursor: pointer;
}

.carousel-item img{
  width: 100%;   
}

.album_title { 
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.form {
  background-color: rgb(210, 216, 222);
  border-radius: 6px;
  margin: auto;
  text-align: center;
}

.album_image img {
  object-fit: cover;
  width: 260px;  
  height: 180px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.album_image{
  padding: 5px;
}

.card-text{
  display: block;
  text-transform: capitalize;
}
.card-contnt{
  height: 50px;
  overflow-y: hidden;
}

.modal-body img{
  object-fit: fill;
  width: 100%;
}