.tile {
  width: 255px;
  background-color: rgb(152, 157, 131);
  height: 255px;
  margin: 10px;
}
.album_thumbnail {
  flex: 3;
}

.album_title {
  flex: 1;
}

.form {
  background-color: rgb(210, 216, 222);
  border-radius: 6px;
  margin: auto;
  text-align: center;
}

.album_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
