.album-tile {
  width: 255px;
  background-color: aqua;
  height: 255px;
  margin: 10px;
}
.album_thumbnail {
  flex: 3;
}

.album_title {
  flex: 1;
  
}

.form{
  background-color: rgb(210, 216, 222);
  border-radius: 6px;
  margin: auto;
  text-align: center;
}
